/* Paleta de Colores :3 */
:root[data-theme="light"] {
    --bg: #E77CA3;
    --text: #551c39;
    --accent: #FCECF4;
}

/* Dark mode */
:root[data-theme="dark"] {
    --bg: #0e1117;
    --text: #2d194e;
    --accent: #F49AC2;
}

:root {
    transition: background 0.4s ease, color 0.4s ease;
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 40px;
    font-family: "Arial", sans-serif;
    transition: background 0.4s ease, color 0.4s ease;
}

/* Botón cambio de tema */
#toggle-theme {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--accent);
    color: var(--bg);
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.4s ease, color 0.4s ease;
}

#toggle-theme:hover {
    opacity: 0.85;
    transform: scale(1.1);
}

/* Cuadro */
.cuadro {
    background: var(--accent);
    color: var(--text);
    border-radius: 16px;
    padding: 40px;
    padding-top: 260px;
    width: min(600px, 90%);
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Perforado */
.cuadro::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 10;

    background:
        radial-gradient(circle, var(--bg) 8px, transparent 9px) 0 0 / 45px 20px repeat-x;
}

/* Banner dentro del cuadro */
#banner {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 200px;
    border-radius: 12px;

    object-fit: cover;
    object-position: center;

    pointer-events: none;
    transition: opacity .5s;

    z-index: 5;
}

/* Cambia según modo */
:root[data-theme="light"] #banner {
    content: url("../img/lightbanner.jpg");
}

:root[data-theme="dark"] #banner {
    content: url("../img/darkbanner.jpg");
}

#pfp {
    position: absolute;
    top: 240px;
    right: 20px;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    border: 6px solid var(--accent);

    object-fit: cover;
    object-position: center;

    background: var(--bg);
    z-index: 20;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}