/* Paleta de Colores :3 */
:root[data-theme="light"] {
    --bg: #E77CA3;
    --text: #551c39;
    --accent: #FCECF4;
}

/* Dark mode */
:root[data-theme="dark"] {
    --bg: #0e1117;
    --text: #2d194e;
    --accent: #F49AC2;
}

:root {
    transition: background 0.4s ease, color 0.4s ease;
}

body {
    background: var(--bg);
    margin: 0;
    padding: 40px;
    font-family: "TikTok Sans", sans-serif;
    transition: background 0.4s ease, color 0.4s ease;
}

/* Botón cambio de tema */
#toggle-theme {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--accent);
    color: var(--bg);
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.4s ease, color 0.4s ease;
}

#toggle-theme:hover {
    opacity: 0.85;
    transform: scale(1.1);
}

.float-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
}

.float {
    position: absolute;
    font-size: 2.2rem;
    animation: levitar 6s ease-in-out infinite alternate;
    color: var(--text);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

@keyframes levitar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-20px) rotate(6deg);
    }
}

/* Cuadro */
.cuadro {
    background: var(--accent);
    color: var(--text);
    border-radius: 16px;
    padding: 40px;
    padding-top: 260px;
    width: min(600px, 90%);
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Perforado */
.cuadro::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 10;

    background:
        radial-gradient(circle, var(--bg) 8px, transparent 9px) 0 0 / 45px 20px repeat-x;
}

/* Banner dentro del cuadro */
#banner {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 200px;
    border-radius: 12px;
    border: 6px solid var(--accent);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    object-fit: cover;
    object-position: center;

    pointer-events: none;
    transition: opacity .5s;

    z-index: 5;
}

#pfp {
    position: absolute;
    top: 240px;
    right: 20px;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    border: 6px solid var(--accent);

    object-fit: cover;
    object-position: center;

    background: var(--bg);
    z-index: 20;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 60px;
}

/* ---------- INICIO ---------- */
.inicio h1 {
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Margarine", sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px var(--bg);
}

.inicio p {
    font-size: 1.0rem;
    font-family: "Margarine", sans-serif;
    opacity: 0.9;
}


/* ---------- SOBRE MI ---------- */
.sobre-mi h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.sobre-mi p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    white-space: pre-line;
}


/* ---------- HABILIDADES ---------- */
.habilidades h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.habilidades p {
    line-height: 1.6;
}


/* ---------- CONTACTO ---------- */
.contacto h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-family: "Margarine", sans-serif;
}

.contacto p {
    line-height: 1.6;
}

/* Cambia según modo */
:root[data-theme="light"] #banner {
    content: url("../img/lightbanner.jpg");
}

:root[data-theme="dark"] #banner {
    content: url("../img/darkbanner.jpg");
}

