/* Paleta de Colores :3 */
:root[data-theme="light"] {
    --bg: #E77CA3;
    --text: #551c39;
    --accent: #FCECF4;
}

/* Dark mode */
:root[data-theme="dark"] {
    --bg: #0e1117;
    --text: #2d194e;
    --accent: #F49AC2;
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 40px;
    font-family: "Inter", sans-serif;
}

/* boton de cambio de tema */
#toggle-theme {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--accent);
    color: var(--bg);
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.2s ease;
}

#toggle-theme:hover {
    opacity: 0.85;
}

/* Cuadro */
.cuadro {
    background: var(--accent);
    border-radius: 16px;
    padding: 30px 40px;
    width: min(600px, 90%);
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Perforado */
.cuadro::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 20px;

    background:
        radial-gradient(circle, var(--bg) 8px, transparent 9px) 0 0 / 45px 20px repeat-x;
}